# Logs
logs
*.log

node_modules
*.local
**/bun.lockb
**/node_modules
**/recycle
.nova
*.ffs_db
build

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

.turbo
.next
dist
dist-ssr
doc_build
*.local
.env
.cache
server/dist
public/dist
storybook-static/