.row {
	:global(.mantine-datatable-row[data-selected]) td {
		background: unset;
	}
	tr[data-selected] :global(.mantine-datatable-row-selector-cell)::before {
		background: unset;
	}
}

.expansion-without-border tr:last-of-type :global(.mantine-datatable-row-expansion-cell-content) {
	border-bottom: 0;
}

.expansion-disabled-border-top :global(.mantine-datatable-row-expansion-cell-content) {
	border-top: 0;
}
.expansion-disabled-border-bottom tr:not(:last-of-type) :global(.mantine-datatable-row-expansion-cell-content) {
	border-bottom: 0;
}
