.row {
	:global(.mantine-datatable-row[data-selected]) td {
		background: unset;
	}
	tr[data-selected] :global(.mantine-datatable-row-selector-cell)::before {
		background: unset;
	}
	:global(.mantine-datatable-row-expansion-cell-content) {
		&:not([data-with-row-border]) {
			border-top: 0 !important;
			border-bottom: 0 !important;
		}
	}
}
